/* Global Defaults
=====================================================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,tr,th,td,embed,object {
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,abbr{
	border:0;
}
ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
a,a:link,a:visited,a:hover { 
	color:#496602;
	text-decoration:none; 
}
a:focus,a:hover { 
	text-decoration:underline;
}
a img { 
	border:0; 
}
:focus {
	outline: 0;
}
.clear { 
	clear:both; 
}
/* Global Elements
=====================================================================*/
body {
	background:#ffebd3 url(../images/background.png) repeat-x;
	font:12px arial, verdana, serif;
}
.replace{
	position:relative;
	margin:0;
	padding:0;
	/* \*/
	overflow:hidden;
	/* */
}
.replace span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.skiplink{
	display:none;
}
/* Start CSS Coding
=====================================================================*/
body#homepage {
	background:#ffebd3 url(../images/background_home.png) repeat-x;
}
#container {
	width:100%;
	background:url(../images/footer.png) repeat-x 0 100%;
}
#bigglow {
	width:100%;
	background:url(../images/big_glow.png) no-repeat 50% 84px;
}
#smallglow {
	width:100%;
	background:url(../images/small_glow.png) no-repeat 50% 84px;
}
#wrapper {
	width:985px;
	margin:0 auto;
}
#header {
	width:985px;
	height:109px;
}
#logo{
	width:248px;
	height:109px;
	font-size:12px;
	position:relative;
	overflow:hidden;
	display:inline;
	float:left;
	text-indent:-5000px;
	margin:0 0 0 -3px;
}
#logo span{
	background:url(../images/logo.png) no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
#placemainmenu {
	width:739px;
	height:46px;
	float:right;
	margin:37px 0 0 0;
}
#mainmenu {
	float:right;
	height:46px;
	background:url(../images/sepmenu.png) no-repeat 0 100%;
}
#mainmenu li {
	display:inline;
	float:left;
	height:46px;
	background:url(../images/sepmenu.png) no-repeat 100% 100%;
	padding:0 4px 0 2px;
	position:relative;
	z-index:500;
}
#mainmenu li a {
	display:inline;
	float:left;
	height:28px;
	padding:18px 15px 0 15px;
	color:#e2ffc2;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:1px 1px 1px #3e5605;
}
#mainmenu li:hover a, #mainmenu li.active a {
	border-top:1px solid #3e5605;
	border-left:1px solid #3e5605;
	border-right:1px solid #3e5605;
	height:29px;
	padding:17px 14px 0 14px;
	background:url(../images/menu_hover.png) repeat-x;
	color:#fff;
	text-decoration:none;
}
/* Start CSS POPUP Menu
=====================================================================*/
#placemainmenu ul ul {
	position:absolute;
	z-index:500;
	display:none;
	width:206px;
	margin: 0;
	top: 47px;
	left:2px;
	background:#506d09;
	border-left:1px solid #3e5605;
	border-right:1px solid #3e5605;
	border-bottom:1px solid #3e5605;
	padding:5px 0 10px 0;
}
#placemainmenu ul li ul li {
	display: inline;
	float: left;
	width: 206px;
	height:32px;
	background:url(../images/sepdropdown.png) no-repeat 50% 100%;
	float: left;
	position:relative;
	padding:0;
}
#placemainmenu #mainmenu li:hover ul li.popup a, #placemainmenu #mainmenu li:hover ul li.popup a:link, #placemainmenu #mainmenu li:hover ul li.popup a:visited {
	background:url(../images/arrow_dropdown.png) no-repeat 180px 10px;
}
#placemainmenu ul ul ul {
	position:absolute;
	z-index:1000;
	display:none;
	width:206px;
	margin: 0;
	top: -5px;
	left:195px;
	background:#506d09;
	border:1px solid #3e5605;
}
#placemainmenu ul li ul li ul li {
	display: inline;
	float: left;
	width: 193px;
	height:36px;
	padding: 0;
}
#placemainmenu #mainmenu li:hover ul li {
	background:url(../images/sepdropdown.png) no-repeat 50% 100%;
}
#placemainmenu #mainmenu li:hover ul li a, #placemainmenu #mainmenu li:hover ul li a:link, #placemainmenu #mainmenu li:hover ul li a:visited {
	color:#e2ffc2;
	font-size:12px;
	width: 179px;
	height:28px;
	border:none;
	background: none;
	padding: 8px 12px 0 12px;
	font-weight:lighter;
	text-shadow:none;
}
#placemainmenu #mainmenu li:hover ul li a:hover, #placemainmenu #mainmenu li ul li a:hover {
	text-decoration:none;
	color:#fff;
	background:none;
}
#placemainmenu #mainmenu li:hover ul li.popup ul li a, #placemainmenu #mainmenu li:hover ul li.popup ul li a:link, #placemainmenu #mainmenu li:hover ul li.popup ul li a:visited {
	background:none;
}
div#placemainmenu li:hover ul ul,
div#placemainmenu li li:hover ul ul
{display:none;}

div#placemainmenu li:hover ul,
div#placemainmenu li li:hover ul
{display:block;}
/* End CSS Drop Down Menu */
#intro {
	width:985px;
	height:363px;
}
#placeintro {
	width:416px;
	height:363px;
	float:left;
}
#placeintro .ui-tabs-panel {
	width:416px;
	height:300px;
	padding:10px 0;
}
#placeintro h1 {
	color:#fff;
	font-size:34px;
	padding:0 0 12px 0;
}
#placeintro h1 span {
	color:#e2ffc2;
}
#placeintro .ui-tabs-panel p {
	font-size:14px;
	color:#fff;
	padding:0 0 12px 0;
	line-height:1.6em;
}
#placeintro .ui-tabs-panel h2 {
	font-size:16px;
	color:#fff;
	padding:0 0 10px 0;
}
.butmore, .butmore:link, .butmore:visited {
	width:130px;
	height:25px;
	background:url(../images/but_more.png) no-repeat;
	float:right;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#e2ffc2;
	text-transform:uppercase;
	padding:11px 0 0 0;
	display:inline;
	margin:5px 12px 0 0;
}
.butmore:hover {
	background-position:0 -36px;
	color:#fff;
	text-decoration:none;
}
#menutabs {
	width:416px;
	height:43px;
}
#menutabs li {
	height:43px;
	float:left;
	display:inline;
	background:url(../images/septabs.png) no-repeat 100% 1px;
}
#menutabs li a, #menutabs li a:link, #menutabs li a:visited {
	height:28px;
	float:left;
	display:inline;
	padding:15px 16px 0 16px;
	color:#e2ffc2;
	font-weight:bold;
	text-transform:uppercase;
	text-decoration:none;
}
#menutabs li a:hover {
	color:#fff;
	text-decoration:none;
}
.ui-tabs .ui-tabs-hide {
     display: none;
}
#menutabs li.ui-tabs-selected a {
	background:#5d7c12;
	color:#fff;
}
#listlatestproject {
	padding:5px 0 0 0;
}
#listlatestproject li {
	width:70px;
	height:70px;
	display:inline;
	float:left;
	margin:0 13px 13px 0;
}
#listlatestproject li a {
	width:67px;
	height:67px;
	float:left;
	display:inline;
	background:#fff;
	padding:3px 0 0 3px;
	border:1px solid #3e5605;
}
#listlatestproject li a:hover {
	background:#3e5605;
}
#placeslideshow {
	width:530px;
	height:334px;
	float:right;
}
/* Slideshow 1
=====================================================================*/
#placeslideshow1_1, #placeslideshow1_2 {
	width:168px;
	height:334px;
	float:left;
	display:inline;
	margin:0 13px 0 0;
}
#placeslideshow1_3 {
	width:168px;
	height:334px;
	float:left;
	display:inline;
	margin:0;
}
#placeslideshow1_1 h3, #placeslideshow1_2 h3, #placeslideshow1_3 h3 {
	font-size:14px;
	font-family:"Trebuchet MS", arial, serif;
	font-weight:lighter;
	height:24px;
	color:#e2ffc2;
	padding:5px 0 0 0;
}
#placeslideshow1_1 h3 span, #placeslideshow1_2 h3 span, #placeslideshow1_3 h3 span {
	color:#fff;
}
#slideshow1_1, #slideshow1_2, #slideshow1_3 {
	width:166px;
	height:303px;
	border:1px solid #3e5605;
}
/* Slideshow 2
=====================================================================*/
#slideshow2 {
	width:528px;
	height:332px;
	border:1px solid #3e5605;
}
.ft-title {
	width:513px;
	height:28px;
	text-transform:uppercase;
	padding:15px 0 0 15px;
	font-size:11px;
	font-weight:bold;
}
/*
=====================================================================*/
#content {
	width:985px;
	padding:30px 0 0 0;
}
#maincontent {
	width:685px;
	float:left;
}
#placetestimonial {
	width:685px;
	background:url(../images/sepcontent.png) repeat-x 0 100%;
	padding:0 0 22px 0;
}
.imgtestimonial {
	float:left;
	background:url(../images/frames_testimonial.png) no-repeat;
	padding:10px 11px 12px 10px;
}
#contenttestimonial {
	width:568px;
	float:right;
}
#maincontent p#texttestimonial {
	font-size:16px;
	color:#212121;
	font-family:Georgia, Garamond, serif;
	line-height:1.4em;
	padding:0;
}
#maincontent p#textname {
	height:18px;
	background:url(../images/quote.png) no-repeat 100% 0;
	padding:18px 49px 0 0;
	font-size:14px;
	color:#212121;
	float:left;
}
.contentfront {
	width:685px;
	padding:17px 0;
}
.contentfrontleft {
	width:267px;
	float:left;
	padding:0 0 0 60px;
}
.contentfrontright {
	width:267px;
	float:right;
	padding:0 0 0 60px;
}
#maincontent .contentfront h3 {
	font-size:24px;
	color:#212121;
	padding:0 0 10px 0;
}
#maincontent .contentfront p {
	color:#3a3a3a;
	font-size:12px;
	line-height:1.6em;
}
.icon1 {
	background:url(../images/icon_1.png) no-repeat;
}
.icon2 {
	background:url(../images/icon_2.png) no-repeat;
}
.icon3 {
	background:url(../images/icon_3.png) no-repeat;
}
.icon4 {
	background:url(../images/icon_4.png) no-repeat;
}
#nav {
	width:270px;
	float:right;
}
.boxnav {
	width:230px;
	background:#fee5c6;
	border:3px solid #fad6ac;
	padding:14px 17px;
	margin:0 0 30px 0;
}
.boxnav:hover {
	border:3px solid #f7c993;
}
.titlenav {
	font-size:14px;
	color:#744e20;
	text-transform:uppercase;
	background:url(../images/sepnav.png) repeat-x 0 100%;
	padding:0 0 10px 0;
	margin:0 0 15px 0;
}
#listblognav {
	margin:-10px 0 0 0;
}
#listblognav li {
	padding:12px 0;
	background:url(../images/sepnav.png) repeat-x 0 100%;
}
#listblognav li h4 {
	font-size:14px;
	padding:0 0 2px 0;
}
#listblognav li h4 a, #listblognav li h4 a:link, #listblognav li h4 a:visited {
	color:#996f3c;
}
.dateblognav {
	font-size:11px;
	color:#696969;
}
#listblognav li p {
	font-size:12px;
	color:#3a3a3a;
	padding:7px 0 0 0;
	line-height:1.4em;
}
.butmorenav, .butmorenav:link, .butmorenav:visited {
	width:120px;
	height:27px;
	float:right;
	background:url(../images/but_morenav.png) no-repeat;
	text-align:center;
	margin:10px 0 0 0;
	color:#744e20;
	text-transform:uppercase;
	font-weight:bold;
	padding:9px 0 0 0;
	text-shadow:1px 1px 1px #fdebd5;
}
.butmorenav:hover {
	background-position:0 -36px;
	text-decoration:none;
	color:#e2ffc2;
	text-shadow:1px 1px 1px #3e5605;
}
/* Lightbox
=====================================================================*/
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}
/*
=====================================================================*/
/* About Us
=====================================================================*/
#placetitle {
	width:985px;
	height:67px;
	margin:-30px 0 30px 0;
}
#placetitle h1 {
	padding:6px 0 0 0;
	margin:0;
	font-size:38px;
	color:#fff;
	float:left;
}
#placefeed {
	width:180px;
	height:38px;
	float:right;
	margin:18px 0 0 20px;
	display:inline;
}
#placefeed strong {
	font-size:12px;
	color:#fff;
	float:left;
	margin:7px 0 0 12px;
	display:inline;
}
#listfeed {
	float:right;
	height:32px;
}
#listfeed li {
	float:left;
	height:32px;
}
#menufeed_1{
	width:32px;
	height:32px;
	font-size:12px;
	position:relative;
	overflow:hidden;
	display:inline;
	float:left;
	text-indent:-5000px;
	margin:0 0 0 7px;
}
#menufeed_1 span{
	background:url(../images/icon_rss.png) no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
#menufeed_2{
	width:32px;
	height:32px;
	font-size:12px;
	position:relative;
	overflow:hidden;
	display:inline;
	float:left;
	text-indent:-5000px;
	margin:0 0 0 7px;
}
#menufeed_2 span{
	background:url(../images/icon_email.png) no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
#maincontent p, #fullwidth p {
	font-size:12px;
	color:#3a3a3a;
	line-height:1.6em;
	padding:0 0 15px 0;
}
#maincontent img {
	margin-bottom:10px;
}
.imgleft {
	float:left;
	margin:0 20px 10px 0;
}
.imgright {
	float:right;
	margin:0 0 10px 20px;
}
.imgframes {
	border:1px solid #bcbcbc;
	padding:7px;
	background:#fff url(../images/frames.png) repeat-x 0 100%;
}
#maincontent h2, #fullwidth h2 {
	font-size:22px;
	color:#000;
	padding:0 0 8px 0;
	background:url(../images/sepcontent.png) repeat-x 0 100%;
	margin:0 0 15px 0;
}
#maincontent h3, #fullwidth h3 {
	font-size:18px;
	color:#000;
	padding:0 0 15px 0;
}
#maincontent h4, #fullwidth h4 {
	font-size:16px;
	color:#000;
	padding:0 0 15px 0;
}
#maincontent h5, #fullwidth h5 {
	font-size:14px;
	color:#000;
	padding:0 0 15px 0;
}
#maincontent h6, #fullwidth h6 {
	font-size:12px;
	color:#000;
	padding:0 0 15px 0;
}
#maincontent ul, #fullwidth ul {
	padding:0 15px 0 9px;
	margin:0 0 15px 0;
}
#maincontent ul li, #fullwidth ul li {
	padding:0 0 0 20px;
	background:url(../images/bullet.png) no-repeat 0 2px;
	margin:0 0 7px 0;
	font-size:12px;
	color:#3a3a3a;
}
.menunav {
	width:230px;
	margin:-10px 0 0 0;
}
.menunav li {
	width:230px;
	float:left;
	display:inline;
	background:url(../images/sepnav.png) repeat-x 0 100%;
}
.menunav li a, .menunav li a:link, .menunav li a:visited {
	width:212px;
	float:left;
	display:inline;
	background:url(../images/bulletnav.png) no-repeat 0 9px;
	padding:9px 0 11px 18px;
	color:#996f3c;
}
/* News List
=====================================================================*/
#maincontent ul#listnews {
	padding:0;
	margin:0;
}
#maincontent ul#listnews li {
	padding:0;
	background:url(../images/sepcontent.png) repeat-x 0 100%;
	padding:10px 0;
}
#maincontent ul#listnews li h2 {
	background:none;
	padding:0;
	margin:0;
}
#maincontent ul#listnews li ul.listnewsinfo li, #maincontent ul.listnewsinfo li {
	display:inline;
	float:left;
	background:none;
	padding:2px 0 0 20px;
	margin:0 15px 0 0;
	font-size:11px;
	color:#7e7e7e;
	height:14px;
}
#maincontent ul#listnews li ul.listnewsinfo, #maincontent ul.listnewsinfo {
	padding:0;
	margin:4px 0 13px 0;
	height:16px;
}
#maincontent ul#listnews li ul.listnewsinfo li a, #maincontent ul#listnews li ul.listnewsinfo li a:link, #maincontent ul#listnews li ul.listnewsinfo li a:visited, #maincontent ul.listnewsinfo li a, #maincontent ul.listnewsinfo li a:link, #maincontent ul.listnewsinfo li a:visited {
	color:#5f5f5f;
}
#maincontent ul#listnews li ul.listnewsinfo li.icontag, #maincontent ul.listnewsinfo li.icontag {
	background:url(../images/icon_tag.png) no-repeat;
}
#maincontent ul#listnews li ul.listnewsinfo li.iconcomment, #maincontent ul.listnewsinfo li.iconcomment {
	background:url(../images/icon_comment.png) no-repeat;
}
#maincontent ul#listnews li ul.listnewsinfo li.iconcal, #maincontent ul.listnewsinfo li.iconcal {
	background:url(../images/icon_cal.png) no-repeat;
}
#maincontent #listpages {
	height:23px;
	margin: 5px 0 15px 0;
	padding: 0;
	float: right;
}
#maincontent #listpages li {
	margin:0 2px 0 0;
	height:23px;
	float:left;
	font-size:11px;
	display:inline;
	background:none;
	padding:0;
}
#maincontent #listpages li.unclick {
	margin:0 2px 0 0;
	height:18px;
	border:1px solid #fad6ac;
	color:#ebb577;
	padding:5px 8px 0 8px;
	background:#fee5c6;
}
#maincontent #listpages li.dotted {
	height:18px;
	font-size:11px;
	padding:5px 5px 0 5px;
}
#maincontent #listpages li a, #maincontent #listpages li a:link, #maincontent #listpages li a:visited {
	padding:5px 8px 0 8px;
	height:18px;
	display:inline;
	float:left;
	border:1px solid #fad6ac;
	color:#496602;
	background:#fee5c6;
}
#maincontent #listpages li a.active, #maincontent #listpages li a.active:link, #maincontent #listpages li a.active:visited {
	background:#496602;
	border:1px solid #496602;
	color:#fff;
}
#maincontent #listpages li a:hover {
	border:1px solid #496602;
	text-decoration:none;
}
/* News Detail
=====================================================================*/
#maincontent h3.titlecomment {
	font-size:18px;
	color:#000;
	background:url(../images/sepcontent.png) repeat-x;
	padding:10px 0;
	margin:5px 0 0 0;
}
#maincontent ul#listcomment {
	padding:0;
	margin:0 0 15px 0;
}
#maincontent ul#listcomment li {
	padding:19px 19px 10px 19px;
	margin:0;
	background:#fdefdf;
	border:1px solid #fee5c7;
	margin:0 0 15px 0;
}
#maincontent ul#listcomment li img {
	float:left;
	padding:3px;
	background:#fff;
	border:1px solid #efd1ac;
}
.placecomment {
	width:575px;
	float:right;
}
#maincontent ul#listcomment li .placecomment h4 {
	font-size:14px;
	color:#3a3a3a;
	float:left;
}
.datecomment {
	float:left;
	font-size:11px;
	color:#7e7e7e;
	display:inline;
	margin:3px 0 10px 10px;
}
#frmcomment {
	padding: 10px 0;
}
#frmcomment label {
	display: block;
	font-size: 12px;
	color: #2f2f2f;
	font-weight: bold;
}
#frmcomment label span {
	font-weight: lighter;	
}
.textboxcomment {
	width: 323px;
	height: 20px;
	background: #f6f6f6;
	border: 1px solid #d2d2d2;
	margin: 3px 0 10px 0;
	font-family: arial, verdana, serif;
	font-size: 11px;
	color: #1a1a1a;
	padding: 4px 3px 0 3px;
}
.textareacomment {
	width: 600px;
	height: 134px;
	background: #f6f6f6;
	border: 1px solid #d2d2d2;
	margin: 3px 0 10px 0;
	font-family: arial, verdana, serif;
	font-size: 11px;
	color: #1a1a1a;
	padding: 4px 3px 0 3px;
}
.submitcomment {
	width: 142px;
	height: 34px;
	background: url(../images/submit_comment.png) no-repeat;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	padding:0 0 3px 0;
	color:#744e20;
	font-family:Arial, verdana, serif;
	text-shadow:1px 1px 1px #fdebd5;
}
.submitcomment:hover {
	background-position:0 -34px;
	color:#e2ffc2;
	text-shadow:1px 1px 1px #3e5605;
}
#maincontent ul.listportfolioservice {
	padding:0;
	margin:0;
}
#maincontent ul.listportfolioservice li {
	height:107px;
	float:left;
	display:inline;
	margin:0 12px 25px 0;
	background:none;
	padding:0
}
#maincontent ul.listportfolioservice li a {
	height:95px;
	float:left;
	display:inline;
	border:1px solid #bcbcbc;
	padding:5px;
	background:#fff url(../images/frames.png) repeat-x 0 100%;
}
#maincontent ul.listportfolioservice li a:hover {
	border:1px solid #043e80;
}
.boxnav p {
	font-size:12px;
	color:#3a3a3a;
	line-height:1.6em;
	padding:0 0 15px 0;
}
/* Portfolio List
=====================================================================*/
#fullwidth {
	width:985px;
}
#fullwidth ul#menutabsport {
	margin:0;
	padding:0;
	height:55px;
	background:url(../images/sepcontent.png) repeat-x 0 100%;
	margin:0 0 15px 0;
}
#fullwidth ul#menutabsport li {
	margin:0 17px 0 0;
	padding:0;
	float:left;
	display:inline;
	width:183px;
	height:36px;
}
#fullwidth ul#menutabsport li a, #fullwidth ul#menutabsport li a:link, #fullwidth ul#menutabsport li a:visited {
	width:183px;
	height:26px;
	background:url(../images/but_tabs.png) no-repeat;
	float:left;
	display:inline;
	color:#744e20;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px 0 0 0;
	text-shadow:1px 1px 1px #fdebd5;
	text-align:center;
}
#fullwidth ul#menutabsport li a:hover, #fullwidth ul#menutabsport li.ui-tabs-selected a {
	background-position:0 -36px;
	text-decoration:none;
	color:#e2ffc2;
	text-shadow:1px 1px 1px #3e5605;
}
#fullwidth ul.listportfoliotabs {
	margin:10px 0 0 0;
	padding:0 0 0 10px;
}
#fullwidth ul.listportfoliotabs li {
	height:107px;
	float:left;
	display:inline;
	margin:0 22px 25px 0;
	background:none;
	padding:0
}
#fullwidth ul.listportfoliotabs li a {
	height:95px;
	float:left;
	display:inline;
	border:1px solid #bcbcbc;
	padding:5px;
	background:#fff url(../images/frames.png) repeat-x 0 100%;
}
#fullwidth ul.listportfoliotabs li a:hover {
	border:1px solid #496602;
}
/* Portfolio Detail
=====================================================================*/
#placetabsport {
	width:985px;
	height:363px;
}
#placetabsport #listlatestproject {
	width:450px;
	float:left;
}
#placetabsport h1 {
	color:#fff;
	font-size:34px;
	padding:0 0 12px 0;
}
#placetabsport .ui-tabs-panel {
	margin:-52px 0 0 0;
	border:1px solid #3e5605;
	width:528px;
	height:332px;
	float:right;
}
/* Contact Us
=====================================================================*/
#placemap {
	border:1px solid #bcbcbc;
	padding:7px;
	background:#fff url(../images/frames.png) repeat-x 0 100%;
	width:669px;
	height:200px;
	margin:0 0 15px 0;
}
#placemap iframe {
	width:669px;
	height:200px;
	border:none;
}
.errordiv {
	display:block;
	border:1px solid #f2a9a9;
	padding:5px;
	color:#f00;
	font-size:11px;
	margin:8px 0 0 0;
}
.correctdiv {
	display:block;
	border:1px solid #b6e47a;
	padding:5px;
	color:#629c17;
	font-size:11px;
	margin:8px 0 0 0;
	background:#d7fca8;
}
#frmcontact {
	padding:10px 0 30px 0;
}
#frmcontact label {
	float:left;
	font-size:12px;
	width:150px;
	padding:3px 0 0 16px;
	margin:10px 0 0 0;
	font-weight:bold;
	color: #2f2f2f;
}
#frmcontact span {
	color:#a50e0e;
	font-size:12px;
	font-weight:bold;
}
#frmcontact br {
	clear:left;
}
.textboxcontact {
	width:390px;
	height:22px;
	border:1px solid #c4c4c4;
	padding:3px 5px 0 5px;
	margin:10px 0 0 0;
}
.textareacontact {
	width:390px;
	height:150px;
	border:1px solid #c4c4c4;
	font-family:Arial, verdana,serif;
	font-size:12px;
	padding:5px;
	margin:10px 0 0 0;
}
.submitcontact {
	width: 142px;
	height: 34px;
	background: url(../images/submit_comment.png) no-repeat;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	padding:0 0 3px 0;
	color:#744e20;
	font-family:Arial, verdana, serif;
	text-shadow:1px 1px 1px #fdebd5;
	margin:20px 0 0 0;
}
.submitcontact:hover {
	background-position:0 -34px;
	color:#e2ffc2;
	text-shadow:1px 1px 1px #3e5605;
}
#listcontact li {
	font-size:12px;
	color:#3a3a3a;
	line-height:1.6em;
	margin:0 0 15px 0;
	padding:0 0 0 23px;
}
#iconoffice {
	background:url(../images/icon_building.png) no-repeat;
}
#iconphone {
	background:url(../images/icon_telephone.png) no-repeat;
}
/* Typography
=====================================================================*/
#maincontent blockquote, #fullwidth blockquote {
	padding:0 0 0 40px;
	background:url(../images/quote_1.png) no-repeat;
}
#maincontent blockquote p, #fullwidth blockquote {
	font-family:Georgia, Garamond, serif;
	color:#9a9a9a;
	font-size:14px;
}
table {
	width: 90%;
	margin: 0 0 15px 0;
}
table thead th {
	height: 30px;
	background: url(../images/tblhead.png) repeat-x;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0 0 0 10px;
	font-size: 12px;
}
table tbody td, table tfoot td {
	height: 25px;
	vertical-align: middle;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	color: #606060;
	font-size: 11px;
	text-align: center;
	padding: 2px 0;
	background:#fff;
}
table tbody tr.odd td {
	background: #efefef;
}
table tbody tr td.cellfeat, table tbody tr.odd td.cellfeat {
	background: #dcdcdc;
	padding: 2px 0 2px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	text-align: left;
}
/* Footer
=====================================================================*/
#footer {
	width:985px;
	height:288px;
	margin:20px auto 0 auto;
	background:url(../images/back_footer.png) no-repeat 50% 1px;
}
#footer1 {
	width:260px;
	height:244px;
	float:left;
	display:inline;
	margin:0 30px 0 0;
}
#menunetworking {
	width:260px;
	padding:22px 0 0 0;
}
#menunetworking li {
	width:260px;
	height:45px;
	float:left;
	background:url(../images/menu_networking.png) no-repeat;
	margin:0 0 8px 0;
}
#menunetworking li a {
	width:204px;
	height:30px;
	display:inline;
	margin:0 0 0 1px;
	border-left:7px solid #bfbfbf;
	float:left;
	font-size:12px;
	color:#737373;
	font-weight:bold;
	padding:13px 0 0 47px;
}
#menufacebook {
	background:url(../images/icon_facebook.png) no-repeat 8px 0;
}
#menufacebook:hover {
	border-left:7px solid #3f64a3;
	color:#3f64a3;
	text-decoration:none;
	background-position:8px -43px;
}
#menutwitter {
	background:url(../images/icon_twitter.png) no-repeat 8px 0;
}
#menutwitter:hover {
	border-left:7px solid #62d7dd;
	color:#62d7dd;
	text-decoration:none;
	background-position:8px -43px;
}
#menuflickr {
	background:url(../images/icon_flickr.png) no-repeat 8px 0;
}
#menuflickr:hover {
	border-left:7px solid #ff0089;
	color:#ff0089;
	text-decoration:none;
	background-position:8px -43px;
}
#menulinkedin {
	background:url(../images/icon_linkedin.png) no-repeat 8px 0;
}
#menulinkedin:hover {
	border-left:7px solid #227aa5;
	color:#227aa5;
	text-decoration:none;
	background-position:8px -43px;
}
#footer2 {
	width:395px;
	height:244px;
	float:left;
	display:inline;
	margin:0 30px 0 0;
}
#footer2 h5, #footer3 h5 {
	background:url(../images/sepfooter.png) repeat-x 0 100%;
	font-size:14px;
	color:#e2ffc2;
	padding:10px 0 13px 0;
	margin:12px 0 0 0;
}
#menufooter1 {
	width:182px;
	float:left;
	padding:5px 0 0 0;
	display:inline;
	margin:0 30px 0 0;
}
#menufooter1 li, #menufooter2 li {
	margin:14px 0;
}
#menufooter1 li a, #menufooter1 li a:link, #menufooter1 li a:visited, #menufooter2 li a, #menufooter2 li a:link, #menufooter2 li a:visited {
	font-size:12px;
	color:#e2ffc2;
}
#menufooter2{
	width:182px;
	float:left;
	padding:5px 0 0 0;
}
#footer3 {
	width:270px;
	height:244px;
	float:right;
	position:relative;
}
#twitterbird {
	width:38px;
	height:47px;
	background:url(../images/icon_twitterbird.png) no-repeat;
	position:absolute;
	z-index:10;
	top:8px;
	right:0;
}
#texttwitter li {
	font-size:12px;
	color:#fff;
	line-height:1.6em;
	padding:9px 0 11px 0;
	background:url(../images/sepfooter.png) repeat-x 0 100%;
}
#texttwitter li a, #texttwitter li a:link, #texttwitter li a:visited {
	color:#e2ffc2;
	text-decoration:underline;
}
#footerbottom {
	width:985px;
	height:44px;
}
#footerbottom h6 {
	font-size:11px;
	float:left;
	color:#fff;
	padding:17px 0 0 0;
}
#menufooter3 {
	height:13px;
	float:right;
	margin:16px 0 0 0;
}
#menufooter3 li {
	float:left;
	display:inline;
	background:url(../images/sepmenufooter.png) no-repeat 100% 2px;
	padding:0 15px 0 13px;
}
#menufooter3 li a, #menufooter3 li a:link, #menufooter3 li a:visited {
	font-size:11px;
	color:#e2ffc2;
}