.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    padding:5px;
    text-align: justify;
    background-color: #25313f;
    color: navajowhite;
}
.text-shadow--2px{
    text-shadow: 1px 1px 5px;
}
